NEXT_PUBLIC_SUPABASE_URL=https://lpowysaggivhinnhbnll.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxwb3d5c2FnZ2l2aGlubmhibmxsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxNTkxMDMsImV4cCI6MjA5MTczNTEwM30.HgJga8xXi7Yp7VNdHlfT_pmkZbwXpxd4b4mWmGxJzd8